/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: amiga;
    src: url('../fonts/amiga4ever_pro2.ttf');
    font-weight:400;
}

* {
	-webkit-user-select: none;
  cursor: default;
}

body {
	background-color: #FF5C00;
	font-family: amiga;
  overflow: hidden;
}

#headphones {
	margin: 0 auto;
	position: relative;
	top: 40px;
	width: 45em;
	height: 45em;
	background-image: url('../img/headphones.svg');
	background-repeat: no-repeat;
	background-size: 100%;
}

#content {
	position: relative;
	top: -45em;
}

#headline {
	position: relative;
	top: 0.5em;
	font-size: 5em;
	background-color: white;
	padding-left: 0.5em;
	text-align: center;
}

#controls {
	position: relative;
	top: 14em;
	text-align: center;
}

#info {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 1em;
  font-size: 16px;
}

.control {
	width: 5em;
	height: 5em;
	border-radius: 2.5em;
	background-color: rgb(80,80,80);
	display: inline-block;
	box-shadow: 0px 9px 0px rgba(50,50,50,1), 0px 9px 25px rgba(0,0,0,.7);
	transition: all .1s ease;
	cursor: pointer;
}

.control:active, .control.pressed {
	box-shadow: 0px 3px 0px rgba(50,50,50,1), 0px 3px 6px rgba(0,0,0,.7);
}

#play {
	background-image: url('../img/play.svg');
	background-size: 75%;
	background-position: 16px 9px;
	background-repeat: no-repeat;
}

#pause {
	background-image: url('../img/pause.svg');
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

#loop {
  display: none;
}

#loop + label {
	background-image: url('../img/loop.svg');
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
}

#loop:checked + label {
  box-shadow: 0px 3px 0px rgba(50,50,50,1), 0px 3px 6px rgba(0,0,0,.7);
}

#demosong {
  font-size: 75%;
  text-align: center;
}

#demosong a {
  border-bottom: 1px solid black;
}

#demosong a:hover {
  color: white;
  border-color: white;
  cursor: pointer;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
